html, body {
    margin: 0px;
    padding: 0px;
    color: rgb(69, 90, 100);
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  .primaryframe{
      height: 65px;
      width: 100%;
      box-shadow: rgb(215, 220, 225) 0px -1px 0px inset;
  }
  .secondaryframe{
    height: 65px;
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 30px;

}
.menuitems{
    height: 65px;
    display:grid;
    grid-template-columns: 8% 8% 8% 8% 45% 5% 15% ; 
    text-align: center;
    align-content: center;
}
.logo{
    background-image: url(logo2.png);
    justify-content:center;
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;    
}
button{
    background:rgb(57, 224, 155) none repeat scroll 0% 0%;
    padding:5px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: normal;
    font-style: normal;
    border: none;
}
button:hover{
    background: rgb(40, 191, 123) none repeat scroll 0% 0%;
}
.headerframe{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    margin:0px auto;

}
.titleframe{
    display: grid;
    grid-template-rows: auto;
    background-image: url('titlebackground.png');
    justify-content: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;  
    margin-top: 90px;
} 

#maintitleframe{
    color:rgb(19, 20, 21);
    font-size:60px;
    display: block;
    font-weight:normal;
    line-height:10px;
    text-align:center;
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
#subtitleframe{
    color:rgb(38, 50, 56);
    font-size:20px;
    font-weight:normal;
    line-height:40px;
    text-align:center;
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
a{
    text-decoration:underline;
    color:rgb(38, 50, 56);
}
.titlebutton{
    margin:0 auto;
    height:64px;
    width: 40%;
    display:grid;
    grid-template-columns: 1fr;
}
#startbutton{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background:rgb(117, 81, 233) none repeat scroll 0% 0%;
    font-size:16px;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: normal;
}
#startbutton:hover {
    background:rgb(99, 68, 198) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}
.moboholder{
    height:auto;
    width: 100%;
    margin:0px auto;
    margin-top:20px;
}
.inneritems{
    margin:0 auto;
    width: 200px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    height:500px;
    padding: 30px;
    background-image: linear-gradient(155deg, rgb(11, 175, 255), rgb(57, 224, 155) 50%, rgb(255, 194, 19));
    position:relative;
    box-sizing: rgba(0, 0, 0, 0.08) 0px 96px 96px 0px;
}
.inneritems::after{
    background-image: url(device.png);
    background-repeat: no-repeat;
    background-position:center top;
    background-size: contain;
    inset:0.1% -5.8% 0.1% -5.6%;
    content: ""; 
    position: absolute;      
}
.animationicon{
    background-image: url(9.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin:0 auto;
    border-radius:50%     ;
    -webkit-border-radius:50%     ;
    -moz-border-radius:50%     ;
    -ms-border-radius:50%     ;
    -o-border-radius:50%     ;
}
.animationbottom{
    display: grid;
}
.bottomtext{
    background-color:rgb(255, 255, 255);
    height: 30px;
    margin-top: 30px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}

.socialmediaicons{
    height: 30px;
    margin-top: 30px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
    align-content: center;    
}
.facebook{
    background-image: url(facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
}
.instagram{
    background-image: url(instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: auto;
}
.twitter{
    background-image: url(twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: auto;
}