html, body {
    margin: 0px;
    padding: 0px;
    color: rgb(69, 90, 100);
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  .primaryframe{
      height: 65px;
      width: 100%;
      /* background-color: red; */
      box-shadow: rgb(215, 220, 225) 0px -1px 0px inset;
  }
  .secondaryframe{
    height: 65px;
    /* background-color: blue; */
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 30px;

}
.menuitems{
    height: 65px;
    display:grid;
    grid-template-columns: 8% 8% 8% 8% 45% 5% 15% ; 
    /* gap: 2px; */
    text-align: center;
    align-content: center;
}
/* .img{
    width: 100%;
    height:100%; 
}  */
#logo{
    padding-top: 10px;
    padding-left:0px;
    
}
button{
    background:rgb(57, 224, 155) none repeat scroll 0% 0%;
    padding:5px 20px ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: normal;
    font-style: normal;
    border: none;
}
button:hover{
    background: rgb(40, 191, 123) none repeat scroll 0% 0%;
}
.headerframe{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    margin:0px auto;
}
.titleframe{
    display: grid;
    grid-template-rows: auto;
    background-image: url('titlebackground.png');
    justify-content: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;  
    margin-top: 90px;
} 

#maintitleframe{
    color:rgb(19, 20, 21);
    font-size:60px;
    display: block;
    font-weight:normal;
    line-height:10px;
    text-align:center;
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
#subtitleframe{
    color:rgb(38, 50, 56);
    font-size:20px;
    font-weight:normal;
    line-height:40px;
    text-align:center;
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
a{
    text-decoration:underline;
    color:rgb(38, 50, 56);
}
.titlebutton{
    margin:0 auto;
    height:64px;
    width: 40%;
    display:grid;
    grid-template-columns: 1fr;
}
#startbutton{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background:rgb(117, 81, 233) none repeat scroll 0% 0%;
    font-size:16px;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: normal;
}
#startbutton:hover {
    background:rgb(99, 68, 198) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}
