html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
    font-weight: normal;
    font-style: normal;
  }
  body{
      min-height:100vh;
      color: rgb(69, 90, 100);
      overflow-x: hidden;
    
  }
  .primaryframe{
      height: 65px;
      width: 100%;
      box-shadow: rgb(215, 220, 225) 0px -1px 0px inset;
      outline: none;
      position: relative;
      
  }
  .secondaryframe{
    height: 65px;
    margin: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 30px;
}
.menuitems{
    height: 65px;
    display:grid;
    grid-template-columns: 8% 8% 8% 8% 45% 5% 15% ; 
    text-align: center;
    align-content: center;
    
}
.logo{
    background-image: url(logo2.png);
    justify-content:center;
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center; 
  
}
button{
    background:rgb(57, 224, 155) none repeat scroll 0% 0%;
    padding:5px 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: normal;
    font-style: normal;
    border: none;
}
button:hover{
    background: rgb(40, 191, 123) none repeat scroll 0% 0%;
}
.headerframe{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    margin:0px auto;
}
.titleframe{
    display: grid;
    grid-template-rows: auto;
    background-image: url('titlebackground.png');
    justify-content: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;  
    margin-top: 90px;
} 
#maintitleframe{
    color:rgb(19, 20, 21);
    font-size:60px;
    display: block;
    font-weight:normal;
    line-height:50px;
    text-align:center;
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
#subtitleframe{
    color:rgb(38, 50, 56);
    font-size:20px;
    font-weight:normal;
    line-height:40px;
    text-align:center;
    font-family: Karla, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}
a{
    text-decoration:underline;
    color:rgb(38, 50, 56);
}
.titlebutton{
    margin:0 auto;
    height:64px;
    width: 40%;
    display:grid;
    grid-template-columns: 1fr;
}
#startbutton{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background:rgb(117, 81, 233) none repeat scroll 0% 0%;
    font-size:16px;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: normal;
}
#startbutton:hover {
    background:rgb(99, 68, 198) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}
.moboholder{
    height:auto;
    width: 100%;
    margin:0px auto;
    margin-top:20px;
}
.inneritems{
    margin:0 auto;
    width: 200px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    overflow: hidden;
    height:500px;
    padding: 30px;
    background-image: linear-gradient(155deg, rgb(11, 175, 255), rgb(57, 224, 155) 50%, rgb(255, 194, 19));
    position:relative;
    box-sizing: rgba(0, 0, 0, 0.08) 0px 96px 96px 0px;
}
.inneritems::after{
    background-image: url(device.png);
    background-repeat: no-repeat;
    background-position:center top;
    background-size: contain;
    inset:0.1% -5.8% 0.1% -5.6%;
    content: ""; 
    position: absolute;      
}
.animationicon{
    background-image: url(9.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    margin:0 auto;
    border-radius:50%     ;
    -webkit-border-radius:50%     ;
    -moz-border-radius:50%     ;
    -ms-border-radius:50%     ;
    -o-border-radius:50%     ;
}
.animationbottom{
    display: grid;
}
.bottomtext{
    background-color:rgb(255, 255, 255);
    height: 30px;
    margin-top: 30px;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
.socialmediaicons{
    height: 30px;
    margin-top: 30px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-items: center;
    align-content: center;    
}
.facebook{
    background-image: url(facebook.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 20px;
}
.instagram{
    background-image: url(instagram.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: auto;
}
.twitter{
    background-image: url(twitter.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: auto;
}
.dotted-container{
    min-height: 20px;
    margin-top: 0px;
}
.dashedvertical{
    height:100px;
    display:block;
    width: 0px ;
    margin: 0 auto;
    border-style: none none none dashed;
    border-color: currentColor currentColor currentColor rgb(117, 81, 233);
    border-width: 0px 0px 0px 3px;    
}
.logocontainer{
    width:320px;
    height: 64px;
    max-width: 84vw;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid rgb(117, 81, 233);
    border-radius:48px;
    -webkit-border-radius:48px;
    -moz-border-radius:48px;
    -ms-border-radius:48px;
    -o-border-radius:48px;
    display: flex;
    align-items: center;
}
.imglogo{
    background-image: url('flowerlogo.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    height: 30px;
    width:30px;
    margin: 10px;        
}
.leaftree{
    height: 30px;
    font-size:20px; 
    text-align: center; 
    margin-left: 0px;
    color: rgb(38, 50, 56);
}
.fainttext{
    letter-spacing: -0.64px;
    color: rgb(38, 50, 56);
    white-space: nowrap;
    font-size: 20px;
}
.cursorblinking{
    opacity: 1;
    height:30px;
    font-size: 20px;
    color: rgb(38, 50, 56);
    animation:blink-animation 1s steps(5, start)infinite;
    -webkit-animation:blink-animation 1s steps(5, start)infinite;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  .empty{
      height:100px;    
  }
  .slidinganimation{
      min-height: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      box-sizing: border-box;    
  }
  .leftside{
      height: 200px;
      box-sizing: border-box;
  }
  .lefttop{
      font-size:30px;
      padding-top:120px;
      margin-left:70px;
      line-height: 1.5;
      color: rgb(38, 50, 56);
      font-weight: normal;   
  }
  .lowerleft{
    font-size:20px;
    padding-top:1px;
    margin-left:70px;
    line-height: 1.6;
    color: rgb(38, 50, 56);;   
}
  video{
      height:100%;
      box-sizing: border-box;
      padding: 30px 32px;
      width:80%;   
  }
  .customs{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height:auto;
      justify-items: center;
      width:100%;      
  }
  .greenleafcustom{
      width: 300px;
      margin-left: 80px;
  }
  .imagecontainerone{
    background-image: url(five.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height:200px;
    width:300px;  
  }
  .imagecontainertwo{
    background-image: url(four.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height:200px;
    width:300px; 
  }
  .imagecontainerthree{
    background-image: url(six.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height:200px;
    width:300px;  
  }
  .featureholder{
      margin:0 auto;
      height:auto;
      margin-top:70px;
  }
  .features{
      height:50px;
      width:200px;
      margin:0 auto;
      border: 2px;
      border-style: solid;
      border-color:rgb(117, 81, 233);
      margin-bottom: 30px;
      border-radius:10px  ;
      -webkit-border-radius:10px  ;
      -moz-border-radius:10px  ;
      -ms-border-radius:10px  ;
      -o-border-radius:10px  ;
      display: grid;
      grid-template-columns: 1fr;
}    
#feature{
    text-decoration: none;
    color:rgb(117, 81, 233);
    text-transform: uppercase;
    background: none;
    font-weight: bold;
    font-size:14px;
}
#feature:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(117, 81, 233);
}
.lowerframe{
    height: auto;
    width: 100%;
}
.lowertitle{
    padding: 10px;
    width:50%;
}
.loweruppertitle{
    font-size: 26px;
    color:rgb(19, 20, 21);
    line-height:1.6;
    margin-bottom: 10px;
    font-weight: normal;
    display:block;
}
.lowerlowertitle{
    color:rgb(83, 88, 95);
    font-size:20px;
    letter-spacing: -0.4px;
    line-height:1.6;
    max-width: 760px;
    display:block;
    text-align: left;
    font-weight: normal;
}
.celebs{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: scroll;
    gap:20px;
    padding:10px;
    height: 250px;
    width: auto;
    margin-bottom: 60px;
}
.celebpics{
    width:280px;
    height: 180px;
    top: 0px;
    left: 0px;
    clip-path: inset(0px round 30px);
    opacity: 1;
    transition: clip-path 0.35s ease 0s;
    -webkit-transition: clip-path 0.35s ease 0s;
    -moz-transition: clip-path 0.35s ease 0s;
    -ms-transition: clip-path 0.35s ease 0s;
    -o-transition: clip-path 0.35s ease 0s;
} 
.selenacontainer{
    display:grid;
}
.guardiancontainer{
    display:grid;
}
.garycontainer{
    display:grid;
}
.clipperscontainer{
    display:grid;
}
.aliciacontainer{
    display:grid;
}
.bullcontainer{
    display:grid;
}
.pharellcontainer{
    display:grid;
}
.rhettcontainer{
    display:grid;
}
.comedycontainer{
    display:grid;
}
.qantascontainer{
    display:grid;
}
.patreoncontainer{
    display:grid;
}
.pariscontainer{
    display:grid;
}
.leaflogo{
    background-image: url('flowerlogo.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height: 20px;
    width: 20px;
    grid-area: 2/1;
    margin-top:-40px;
    margin-left: 20px;
    z-index: 1;   
}
.selenacontainer>div:nth-child(1){
    background-image: url('selena.webp');
    background-repeat:no-repeat;
    background-size: cover;
}
.guardiancontainer>div:nth-child(1){
    background-image: url(guardian.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.garycontainer>div:nth-child(1){
    background-image: url(gary.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.clipperscontainer>div:nth-child(1){
    background-image: url(clippers.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.aliciacontainer>div:nth-child(1){
    background-image: url(alicia.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.bullcontainer>div:nth-child(1){
    background-image: url(redbull.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.pharellcontainer>div:nth-child(1){
    background-image: url(pharrell.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.rhettcontainer>div:nth-child(1){
    background-image: url(rhet.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.comedycontainer>div:nth-child(1){
    background-image: url(comedy.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.qantascontainer>div:nth-child(1){
    background-image: url(qantas.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.patreoncontainer>div:nth-child(1){
    background-image: url(patreon.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.pariscontainer>div:nth-child(1){
    background-image: url(paris.webp);
    background-repeat: no-repeat;
    background-size: cover;    
}
.celebpics:hover{
    clip-path: inset(0px round 50px);
    
}
.selenaiconcontainer{
    display:grid;
    grid-template-columns:1fr 3fr;
}
.selenaicon{
    background-image: url(selena.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width:30px;
    height:30px;
    margin:10px;
    clip-path: inset(0px  round  50%);
    display:grid;    
}
.selenasig{
    width:auto;
    height:30px;
    margin-top:10px;
    display:grid;
    grid-template-columns:1fr;
    justify-items: stretch;
    align-items: center;    
}
.titlebutton1{
    margin:0 auto;
    height:54px;
    width: 20%;
    display:grid;
    grid-template-columns: 1fr;
    margin-bottom: 60px;
}
#startbutton1{
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    background:rgb(117, 81, 233) none repeat scroll 0% 0%;
    font-size:16px;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: normal;
}
#startbutton1:hover {
    background:rgb(99, 68, 198) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
}
hr{
    margin: 0 auto;
    width:70%;
    color:rgb(69, 90, 100);
}




